.btn {
  display: inline-block;
  padding: 20px 15px;
  background-color: @accent;
  cursor: pointer;
  font-family: inherit;
  color: #fff;
  font-weight: 700;
  .font-size(18);
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}
