.clean {
  padding-top: 95px;
  padding-bottom: 81px;
  text-align: center;
}

.clean-title {
  margin-bottom: 80px;
  color: #3c3c3c;
  font-weight: 500;
  
  span {
    font-weight: 700;
  }
}

.clean-list {
  .row-flex();
  margin-bottom: 110px;
}

.clean-item {
  .col();
  .size(4);
  .size-sm(12);

  margin-bottom: 12px;
  text-align: center;

  img {
    margin-bottom: 8px;
  }

  h3 {
    color: #3c3c3c;
    .font-size(18);
    .line-height(30);
    font-weight: 700;
  }
}
