.services {
  padding-top: 99px;
  padding-bottom: 93px;
  background-color: #fff;
}

.service-list {
  .row-flex();
}

.service-item {
  .col();
  .size(4);
  .size-sm(12);

  margin-bottom: 12px;
  text-align: center;

  img {
    margin-bottom: 8px;
  }

  h3 {
    color: #505050;
    .font-size(24);
    .line-height(36);
    font-weight: 500;
    text-transform: uppercase;
  }
}
