.strategy {
  padding-top: 110px;
  padding-bottom: 112px;
  background: #666 url(../img/strategy-bg.jpg) no-repeat center center/cover;
  color: #ffffff;
  text-align: center;
}

.strategy-title {
  margin-bottom: 80px;
}

.strategy-list {
  .row-flex();
}

.strategy-item {
  .col();
  .size(4);
  .size-sm(12);

  margin-bottom: 12px;
  text-align: center;

  img {
    min-height: 100px;
    margin-bottom: 8px;
  }

  h3 {
    .font-size(18);
    .line-height(30);
    font-weight: 700;
  }

}
