@import "_config";

// CUSTOM USER STYLES & IMPORTS

.section-title {
  .font-size(30);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
}

@import "_btn";
@import "_header";
@import "_hero";
@import "_services";
@import "_debt";
@import "_bankrot";
@import "_likvidation";
@import "_saving";
@import "_blank";
@import "_clean";

@import "_strategy";

@import "_footer";
